h1 {color:indigo;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h2 {color:darksalmon;
    font-family: cursive;}
h3 {color:aqua;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
ul {color:chartreuse;}
body {
      background-color:darkslategrey;
      border-width:5px;
      border-style:dashed double;
      border-color:yellow;
      cursor: crosshair;    
    }
img {border-width:5px;
     border-style:inset;
     border-color:red;}  
 p {color:orangered;
    font-family: "lucida Console", "Courier New", 'Courier New', Courier, monospace;}
 